{% extends 'list/base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Uncurated list 
            </h1>
            <table style="width:80%" class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">URL</th> 
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                {% for list in Uncuratedlists %}
                <tr>
                    <td>{{list.Name}}</td>
                    <td>{{list.URL}}</td>
                    {% if list.Status == True %}
                        <td style="color: green;"> Done</td>
                    {% else %}
                        <td><a href="{% url 'update' list.ListId %}"><button type="button" class="btn btn-primary">mark as Done</button></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            
        </div>
    </section>
{% endblock %} 
